* {
  user-select: none;
  line-height: 115%;
  margin-bottom: 6px;
}
th{
  vertical-align: text-top;
}
th, td{
  padding: 3px 8px;
}
body{
  font-family: sans-serif;
  margin: 8px;
  overflow-x: hidden;
  max-width: 600px;
}
del { 
  background: #a44;
  color: #a44;
}
#notify_span{
  display: inline-block;
  margin: 3px;
  border: 1px solid black;
  padding: 12px 16px;
  font-family: monospace;
}
button{
  border: none;
  padding: 6px 18px;
  background: black;
  color: #fff;
  font-size: larger;
  outline: none;
}
.square{
  width: 80px;
  height: 80px;
}
.black{
  color: #fff;
  background: #000;
}
.white{
  color: #000;
  background: #ff;
}

